<%= form_with(model: @persona, url: guardar_nutriologo_path, id: "formulario_nuriologo", local: true, validate: true) do |persona| %>
  <div class="form-group">
    <%= persona.text_field :nombre, placeholder: "Introduzaca su Nombre", class: "form-control", autocomplete: "off", required: true %>
  </div>
  <div class="form-group">
    <%= persona.text_field :a_paterno, placeholder: "Introduzaca su Apellido Paterno", class: "form-control", autocomplete: "off", required: true %>
  </div>
  <div class="form-group">
    <%= persona.text_field :a_materno, placeholder: "Introduzaca su Apellido Materno", class: "form-control", autocomplete: "off", required: true %>
  </div>
  <div class="form-group dropdown">
    <%= persona.label :sexo, "Seleccione su genero: " %>
    <%= persona.select :sexo, options_for_select([["Hombre", "H"], ["Mujer", "M"]],) %>
  </div>

  <div class="form-group">
    <%= persona.telephone_field(:telefono, placeholder: "Telefono", class: "form-control") %>
  </div>

  <div class="form-group">
    <%= persona.email_field(:correo, placeholder: "Introduzca su correo Electronico", class: "form-control", autocomplete: "off", validate: {uniqueness: {case_sensitive: false, message: 'El correo electronico Ya ha sido registrado'}}, required: true) %>
  </div>
  <!--                #commit anterior tenia un ",Nutriologo.new" despues de :nutriologo-->
  <%= persona.fields_for :nutriologo do |nutriologo_fileds| %>
    <div class="form-group">
      <%= nutriologo_fileds.text_field :cedula_profesional, placeholder: "Introduzca su cedula profesional", class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= nutriologo_fileds.text_field :login, placeholder: "Introduzca su nombre de usuario", class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= nutriologo_fileds.label :password, "Introduzca su contraseña" %>
      <%= nutriologo_fileds.password_field :password, class: "form-control", autocomplete: "off", required: true %>
    </div>
    <div class="form-group">
      <%= nutriologo_fileds.label :password_confirmation, "Confirme su contraseña" %>
      <%= nutriologo_fileds.password_field :password_confirmation, class: "form-control", autocomplete: "off", required: true %>
    </div>
  <% end %>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= persona.submit "Registrarse", class: "form-control btn btn-primary" %>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= link_to ' Regresar', root_path, class: "form-control btn btn-danger glyphicon glyphicon-chevron-left" %>
      </div>
    </div>
  </div>
<% end %>