<%= form_with(model: dieta, local: true) do |form| %>
  <% if dieta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dieta.errors.count, "error") %> prohibited this dieta from being saved:</h2>

      <ul>
        <% dieta.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!--Sigue mostrando el numero del paciente-->
  <div class="field">
    <%= form.label :paciente_id %>
    <%= form.select(:paciente_id, Paciente.joins(:persona).collect { |e| [e.persona.nombre, e.id] }, {include_blank: 'Seleccione a un paciente'}) %>
  </div>
  <!--  agregar filtado dinamico-->
  <div class="field">
    <%= form.label :comida_id %>
    <%= form.select(:comida_id, Comida.all.collect { |e| [e.descripcion, e.id] }, {include_blank: 'Elija el tiempo de Comida'}) %>
  </div>

  <div class="field">
    <%= form.label :alimento_id %>
    <%#= form.select(:alimento_id, Alimento.all.collect { |e| [e.nombre, e.id] }, {include_blank: 'Elija el grupo de alimentos'}) %>
    <%= form.collection_select :alimento_id, Alimento.order(:nombre), :id, :nombre, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :subalimento_id %>
    <%#= form.select(:subalimento_id, Subalimento.all.collect { |e| [e.descripcion, e.id] }, {include_blank: 'Elija el subgrupo de alimentos'}) %>
    <%= form.grouped_collection_select :subalimento_id, Alimento.order(:nombre), :subalimentos, :nombre, :id, :descripcion, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :cantidad, 'Numero de Porciones' %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.select :estado, options_for_select([["Activo", 1], ["Inactivo", 2]],) %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar' %>
  </div>
<% end %>
