<p id="notice"><%= notice %></p>

<h1>Dietas</h1>
<div class="tcontainer">
  <table class="table -table-hover">
    <thead>
    <tr>
      <th>Paciente</th>
      <th>Comida</th>
      <th>Alimento</th>
      <th>Subalimento</th>
      <th>Cantidad</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @dietas.each do |dieta| %>
      <tr>
        <td><%= dieta.paciente.persona.nombre %></td>
        <td><%= dieta.comida.descripcion %></td>
        <td><%= dieta.alimento.nombre %></td>
        <td><%= dieta.subalimento.descripcion %></td>
        <td><%= dieta.cantidad %></td>
        <td><%= (dieta.estado == 1) ? 'Activo' : 'Inactivo' %></td>
        <td><%= link_to 'Ver', dieta %></td>
        <td><%= link_to 'Editar', edit_dieta_path(dieta) %></td>
        <td><%= link_to 'Eliminar', dieta, method: :delete, data: {confirm: 'Estas seguro?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


<br>

<%= link_to 'Registrar nueva dieta', new_dieta_path %>
