<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%#= @dieta.paciente_id %>
  <%= @dieta.paciente.persona.nombre %>
</p>

<p>
  <strong>Comida:</strong>
  <%= @dieta.comida_id %>
</p>

<p>
  <strong>Alimento:</strong>
  <%= @dieta.alimento.nombre %>
</p>

<p>
  <strong>Subalimento:</strong>
  <%= @dieta.subalimento.descripcion %>
</p>

<p>
  <strong>Numero de Raciones:</strong>
  <%= @dieta.cantidad %>
</p>

<p>
  <strong>Estado: </strong>
  <%= (@dieta.estado == 1) ? 'Activo' : 'Inactivo' %>
</p>

<%= link_to 'Editar', edit_dieta_path(@dieta) %> |
<%= link_to 'Volver', dietas_path %>
