<div class="container">
  <h3>Biometrias Medicas</h3>
  <hr>
  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <h3 class="panel-title">Biometrias</h3>
        <div class="pull-right">
          <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter
          </button>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr class="filters">
          <th><input type="text" class="form-control" placeholder="Paciente" disabled></th>
          <th><input type="text" class="form-control" placeholder="Globulos Rojos" disabled></th>
          <th><input type="text" class="form-control" placeholder="Globulos blancos" disabled></th>
          <th><input type="text" class="form-control" placeholder="Plaquetas" disabled></th>
          <th><input type="text" class="form-control" placeholder="Hemoglobina" disabled></th>
          <th><input type="text" class="form-control" placeholder="Hematocrito" disabled></th>
          <th><input type="text" class="form-control" placeholder="Neutrofilos" disabled></th>
        </tr>
        </thead>
        <tbody>
        <% @biometrias.each do |biometrias| %>
          <tr>
            <td><%= biometrias.paciente.persona.nombre %></td>
            <td><%= biometrias.globulos_rojos %></td>
            <td><%= biometrias.globulos_blancos %></td>
            <td><%= biometrias.plaquetas %></td>
            <td><%= biometrias.hemoglobina %></td>
            <td><%= biometrias.hematocrito %></td>
            <td><%= biometrias.neutrofilos %></td>
            <td><%= link_to 'Editar', edit_biometria_path(biometrias) %></td>
            <td><%= link_to 'Eliminar', biometrias, method: :delete, data: {confirm: 'Estas seguro?'} %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= link_to 'Registrar Biometria', new_biometria_path, class: 'btn btn-success' %>