<p id="notice"><%= notice %></p>

<h1>Subgrupos Alimenticios</h1>

<table>
  <thead>
  <tr>
    <th>Descripcion</th>
    <th>Alimento</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @subalimentos.each do |subalimento| %>
    <tr>
      <td><%= link_to subalimento.descripcion, subalimento %></td>
      <td><%= subalimento.alimento.nombre %></td>
      <td><%= link_to 'Editar', edit_subalimento_path(subalimento) %></td>
      <td><%= link_to 'Eliminar', subalimento, method: :delete, data: {confirm: 'Estas seguro'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo subgrupo de alimentos', new_subalimento_path %>
