<p id="notice"><%= notice %></p>

<h1>Subgrupos Alimenticios</h1>
<div class="tcontainer">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Descripcion</th>
      <th>Grupo al que pertenecen</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @subalimentos.each do |subalimento| %>
      <tr>
        <td><%= link_to subalimento.descripcion, subalimento %></td>
        <td><%= subalimento.alimento.nombre %></td>
        <td><%= link_to('Editar', edit_subalimento_path(subalimento), class: 'btn btn-info') %></td>
        <td><%= link_to('Eliminar', subalimento, method: :delete, data: {confirm: 'Estas seguro'}, class: 'btn btn-danger') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'Nuevo subgrupo de alimentos', new_subalimento_path %>
