<%= form_with(model: grupo_alimento, local: true) do |form| %>
  <% if grupo_alimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grupo_alimento.errors.count, "error") %> prohibited this grupo_alimento from being saved:</h2>

      <ul>
      <% grupo_alimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :ingrediente %>
    <%= form.text_field :ingrediente %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :cantidad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
