<!--Si la variable ssession[:persona_id] unicamente contiene un numero-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <% if logged_in? %>
        <a class="navbar-brand" href="<%= nutriologo_path %>">NutriSmart</a>
      <% else %>
        <a class="navbar-brand" href="<%= root_path %>">NutriSmart</a>
      <% end %>
    </div>
    <% unless @current_persona.nil? %>
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= nutriologo_path %>"><%= @current_persona.nombre %></a></li>
        <!--      -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nutriologos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Directorio</a></li>
          </ul>
        </li>
        <li class="dropdown">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pacientes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= pacientes_path %>">Pacientes</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Alimentacion<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= dietas_path %>">Dietas</a></li>
            <li><a href="<%= alimentos_path %>">Grupo Alimenticio</a></li>
            <li><a href="<%= subalimentos_path %>">Subgrupo Alimenticio</a></li>
            <li><a href="<%= comidas_path %>">Comidas</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Suplementos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= suplementos_path %>#">Suplementos</a></li>
            <li><a href="<%= plansuplementos_path %>">Plan de Suplementos</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ejercicio<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Consultas<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
      </ul>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <!--      ahora asi se hace referencia a los metodos de login  invoca a estos dos
                get 'login', to: 'sessions#new'
                post  'login', to: 'sessions#create'
      -->
      <% if logged_in? %>
        <li class="dropdown">
          <% unless @nutriologo.nil? %>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%= @nutriologo.login %>
              <span class="caret"></span></a>
          <% end %>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><%= link_to ' Cerrar Sesion', logout_path, method: :delete, class: "glyphicon glyphicon-log-in" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to ' Registrarse', registrar_nutriologo_path, class: "glyphicon glyphicon-log-in" %></li>
        <li><%= link_to ' Iniciar Sesion', login_path, class: "glyphicon glyphicon-log-in" %></li>
      <% end %>
    </ul>
  </div>
</nav>